@font-face {
    font-family: 'wheatoncapitals';
    src: url(/assets/fonts/wheaton_capitals-webfont.woff2) format('woff2'),
         url(/assets/fonts/wheaton_capitals-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

#canvas {
    visibility: hidden;
}

#home-page {
    visibility: visible;
}

body {
    background-color: #f27360;
    /* background-image: url('/assets/images/spectrum-2.png'); */
}

.intro {
    font-family: 'wheatoncapitals';
    font-size: 2vw;
    color: white;
    text-align: center;
    line-height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 200;
    visibility: visible;
}

#main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#logo {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;  
}

#logo img {
    margin-top: 2vh;
    position: absolute;
    text-align: center;
    padding: 10%; 
    width: 80%;
}

#characters {
    width: 100%;
    height: 100%;
    pointer-events: none;    
    position: static; 
    z-index: 50;
}

#characters img {
    position:absolute;
    padding: 0% 10%; 
    width: 80%;  
}

.intro.display-none {
    opacity: 0;
    z-index: -10;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

#bg-img {
    position: fixed;
    height: 110%;
    width: auto;
    margin: 0;
    opacity: 50%;
    margin-left:-100px;
    margin-top: -20px;
    pointer-events: none;
    z-index: 150;
}

#menu {
    width: 8vw;
    height: 30px;
    margin: 10px;
    right: 20px;
    position: fixed;
    z-index: 110;
}

#exit {
    display: none;
    
}

#back {
    width: 8vw;
    height: 30px;
    margin: 10px;
    float: right;
    position:sticky;  
    z-index: 200; 
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
    color: black;
}

.nav li {
    font-family: 'wheatoncapitals';
    font-size: 6vw;
    line-height: 1vh;
    list-style: none;
    text-align: right;
    padding: 16px 0;
}

.nav {
    padding: 10vw 2vw 4vw 4vw;
    transition: 0.3s ease;
    display: none;
    background-color: #dfe7e2;
    outline: 3px solid black;
    border-radius: 10px;
    z-index: 100;
    right: 1vw;
    position: fixed;
    margin-right: 20px;
    margin-top: 10px;

}

.change {
    display: block;
}

#nav-bar img{
    width: 22%;
    display: inline-block;
}

#nav-bar{
    float:left;
    width: 40%;
    display: block;
    margin: 10px;
    position: fixed;
}

/* settings.html */
#color-switch {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    z-index: -10;
    border:none;
    text-transform: uppercase;
}

#game-start-btn {
    margin-bottom: 7vh;
    z-index: 60;
}

#start {
    background-color:#dfe7e2;
    padding: 1vh 2vh 1vh 2vh;
    margin-left: 70px;
    margin-right: 70px;
    outline: 3px solid black;
    border-radius: 10px;
    text-align: center;
}
#start a {
    text-decoration: none;
    color: black;
}

#start p {
    margin: 0px;
    font-family: 'wheatoncapitals';
    font-size: 2vh;
}